@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway-Light.ttf);
}

body {
    font-family: Raleway;
}

.contacts {
    text-align: right;
}

.info {
    width: 80vw;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}